<img src="pythonwebinar.png" style="width:650px">

### AccelerateAI - Python for Data Science - Notebook 01
##### Introduction to Python Language  (Python 3) 
In this notebook we will cover the following: 
* 0. A note on Python 2 vs Python 3 <br>
* 1. Data Types        <br> 
* 2. Variables & Expressions<br>
* 3. Language  Basics  <br>
***

### 0. A note on Python 2 vs. Python 3
* There are 2 major versions of Python in widespread use: Python 2 and Python 3. <br>
* Below is a timeline of the release of the various versions of the Python.

|S.No|Python 2.0 | Python 3.0  |
| :-| --- | :- | 
|First Release  | Python 2.0 – Oct 16, 2000    | Python 3.0   – Dec 3, 2008 |
|Latest Release | Python 2.7- Apr,20, 2020     | Python 3.10.4- Mar 24, 2022 |

**Comparison of Python 2 & Python 3:**
* Ease of Syntax: Python 2 has more complicated syntax than Python 3.
* “Print” Keyword:	In Python 2, print is considered to be a statement.In Python 3, print is a function.
* String Storage :  In Python 2, strings are stored as ASCII by default. In Python 3, strings are stored as UNICODE by default.
* Integer Division: Division of two integers yields an integer value in Python 2. For instance, 7/2 yields 3 in Python 2. On the division of two integers, we get a floating-point value in Python 3.
* Exceptions	: In Python 2, exceptions are enclosed in notations. In Python 3, exceptions are enclosed in parentheses.
* Iteration	: In Python 2, the xrange() function has been defined for iterations. In Python 3, the new Range() function was introduced to perform iterations.
* Libraries: A lot of libraries of Python 2 are not forward compatible.	Many libraries created in Python 3 can only work with Python 3.
* Application: Python 2 was mostly used for application development.Python 3 is used in a lot of fields like Software Engineering, Data Science, web development etc.

#### Why are we using Python 3.x?
- Python 2 is no longer updated since 2020. 
- Python 3 is more popular than Python 2 and is still in active development. 
- Hence we will use Python 3.8 or later for all our work.

### 1. Data Types in Python
- Numeric Types:	int, float, complex
- Text Type:	str
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [1]:
1                        # python understands this is a number

1

In [2]:
1+5+7                # additions of numbers

13

In [3]:
2+3*5+5-3             # BODMAS

19

Mathematical Operator Precedence Rule:<br>
BODMAS - **B**rackets, **O**rder(exponent) , **D**ivision, **M**ultiplication, **A**ddition, **S**ubstraction

Python Precedence:
- () : Parenthesis First!
- ** : Exponentiation.
- *, @, /, //, % : all same precedence L to R.
- +, - : all same precedence L to R.

For above example: 2 + (3*5) + 5 - 3  = (2 + 15 + 5) - 3  =  22 - 3  =  19

In [4]:
1/3                        # division yields a floating point number

0.3333333333333333

In [5]:
48/2.3                     # floating point

20.869565217391305

In [6]:
48//2.3                    # floor division - returns integer value

20.0

In [7]:
5*3.5                      # multiplication

17.5

In [8]:
2**4                       # exponentiating

16

In [9]:
4%2                        # modulus - good way to check an even number

0

In [10]:
5%2

1

In [11]:
4.5%2

0.5

In [12]:
x = 1                      # int
y = 2.8                    # float
z = x+y                    # automatic type conversion
type(z)

float

#### Complex numbers

In [13]:
z = complex (2 , 3)
print (z)

(2+3j)

In [ ]:
z.real , z.imag

In [ ]:
type(z)

#### Strings 
Strings can be thought of as sequences of characters.Note that strings are immutable i.e. once created it cannot be changed!

In [ ]:
s = 'hello'                # characters within quotes
#print(s)

In [ ]:
a = "5"
b = '10'
#print(a + b)                # magic happens - will find out later that this is just science at work!

In [ ]:
s = 'hello'                 # indexing strings 
s[1]                        # counting starts at 0

In [ ]:
s[0:2]                      # slicing - from 0 upto but not including 2

In [ ]:
s[:3]                       # slicing - from beginign upto but not including 3

In [ ]:
s[-1]                       # -1 {its not -0} starts from end and goes reverse

In [ ]:
# All types of quotes are Ok.
a = 'single quotes'
b = "double quotes"
n = "wrap 'single quotes' with double quote"
#print ( a, b, n)

In [ ]:
# multi-line string
ml_string = '''this is a multi
line string that
spans across 3 lines'''

#print(ml_string)

In [ ]:
#strings are immutable - can't be changed once created
a = 'Hello'
#a[0] = 'J'

In [ ]:
# Special Operators for strings
a = "hello"
b = "world"
c = a+b                    # concatenate - with no space in between
#print(c)

In [ ]:
# Multiplication with a number
a = '#'
#print(a*50)                # will this give an error?

In [ ]:
#String methods
claim = "Python is awesome!"

#claim.upper()                # all uppercase

In [ ]:
claim.lower()                # all lowercase

In [ ]:
#claim.startswith('python')   # case sensitive

In [ ]:
claim.endswith('awesome!')

In [ ]:
#claim.find('is')             # start position of the substring - counting starts from 0

In [ ]:
#str.split() turns a string into a list of smaller strings, breaking on whitespace by default
words = claim.split()
#words

In [ ]:
# It can split on other characters as well
datestring = '01/31/1956'
month, day, year = datestring.split('/')

#print(year, month, day)

#### list - similar to array in many ways

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   
#print(my_list)

In [ ]:
my_list.append('d')                       # add to list

In [ ]:
type(my_list)                             # check data type

In [ ]:
#my_list[0:-2]                             # index lists - index starts from 0.  [start : end but not including]

In [ ]:
my_list[5:2]                              # start > end ?

In [ ]:
my_list[-1]                               # -ve index : starts from end

In [ ]:
my_list[::2]                              # slicing has 3 parameters with last 2 being optional [<start>:<stop>:<step>]

In [ ]:
#What is this doing?
#my_list[::-1]

In [ ]:
my_list[0] = "999"                           # reassign values of list
print(my_list)

In [ ]:
n_list = [1,2,3,[1,2,3,[1,2,'target']]]     #nested list
print(n_list)

In [ ]:
n_list[3]

In [ ]:
n_list[3][3]

In [ ]:
#n_list[3][3][2]

In [ ]:
#list 
my_list = ['b', 'a', 'c', 'd', 'f']

my_list.reverse()                           #reverse the list
#print(my_list)

In [ ]:
my_list.sort()                               #sort the list
#print(my_list)

In [ ]:
my_list.pop(3)                               #removes the element at specified position
#print(my_list)

In [ ]:
my_list.clear()                              #removes all the elements of the list
#print(my_list)

In [17]:
# Addition operator = Concatenation

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

#list1 + list2

In [19]:
# Multiplication operator = repetition
#3 * list1

#### tuple - similar to list but unmutable (cannot be changed)

Benefits/Uses of tuple:
 - Tuples are stored in a single block of memory, hence faster to access than list.
 - Tuples are useful for representing a **full record** - related information that belongs together.
 - Tuples are used when we do not want to change something after it has been assigned like names of US states.

In [ ]:
t = (1,2,3)

In [ ]:
#print(t[0])

In [ ]:
#tuple is immutable
t[0] = 5                                            # will give an error

In [ ]:
bob = ("Bob", 25, "RockStar")                        # tuple packing
#print(bob)

In [ ]:
maria = ("maria", 22, "Data Analyst")
(name, age, profession) = maria                     # tuple unpacking 

#print("Maria's profession is:", profession)

In [ ]:
# Nifty use of tuple packing/unpacking
a = 100
b = 200

(a, b) = (b, a)                                      # what is this doing?

#print(a,b)

In [ ]:
# Need exact same number of variables
(a, b, c, d) = (1, 2, 3)

In [ ]:
# wildcard operator
(a, *b) = (1, 2, 3)
#print(b)

In [ ]:
(*a, b) = (1, 2, 3, 4)                               # what is the value of b ?    
#print(b)

In [ ]:
# tuples can have tuples inside them
julia_info = ( ("Julia", "Roberts"), (8, "October", 1967), "Actress", ("Atlanta/Georgia"))

print(julia_info)

In [ ]:
# iterate through a tuple
for item in julia_info:
    print(item)

In [ ]:
# + operator for tuple

t1 = (100,200,300)
t2 = (500,600,700)

#t1 + t2                                           # combines the two

In [ ]:
# * operator for tuple

#t1*3                                              # repeates 3 times

#### Set is collection of "unique" elements

In [ ]:
# Creating a set
s = {1,2,3,4,5,5,4,3,2,1}                             # curly braces

In [ ]:
#print(s)

In [ ]:
s.add(6)                                              # add to a set
#print(s)

In [ ]:
s.pop()                                               # removes first element 
#print(s)

#### Set Operations

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Set union: | operator
print("A U B", A | B)                                 # Also -> A.union(B) or B.union(A) 

#Set intersection: & operator
#print("A int B:", A & B)                             # Also -> A.intersection(B)

#Set difference: - operator
#print("A diff B", A - B)

#Set symmetric difference (All but common elements): ^ operator
print("A common B:", A ^ B)

In [ ]:
#range
X = range(10)                                         # remember where it ends!
#print(X)

In [ ]:
X[0]

In [ ]:
#X[10]

In [ ]:
type(X)

#### Dict - key value pairs just like a hash table

In [ ]:
dict1  =  {'key1':'Kamal', 'key2': 100, 5: "Sachin"}

In [ ]:
dict1['key1']                                                       # value accessed using key

In [ ]:
#what will this print?
#dict1[5]

In [ ]:
type(dict1)

In [ ]:
# get the keys of dictionary
#dict1.keys()

In [ ]:
# get the values of dictionary
#dict1.values()

In [ ]:
# add a new key-value pair to the dictionary
dict1["Pooja"] = "Student"
#dict1

In [ ]:
# remove a key-value pair from the dictionary
del dict1["key2"]
dict1

In [ ]:
#Get the key for largest value in a dict?
answered = {'Maria': 19, 'Anurag': 17,'Jawed': 12,'Neha': 10,'Mehuya': 15, 'Pamela': 10, 'Sachin' : 5}

#max(answered, key=answered.get)                                 # who has answered the most no of questions?

In [ ]:
min(answered, key=answered.get)                                 # who has answered the least no of questions?

In [ ]:
# iterate through a dictionary
for k, v in answered.items():
    print("Name:",k,"| Marks:",v)

In [ ]:
# Check if a key is in the dictionary
if "Maria" in answered:
    print("Maria took the quiz.")
    
if "Sashi" in answered:
    print("Sashi took the quiz.")

In [ ]:
# Create a dictionary of lists
dict_of_lists = {"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]}

#dict_of_lists

In [ ]:
dict_of_lists["b"]

In [ ]:
dict_of_lists["b"][1]

#### Boolean variables

In [ ]:
a1 = True
type(a1)

In [ ]:
p1 = (1 ,2 ,[3,'A'])
p1[2][1] = 4 
p1

### 2. Variable & Expressions
- variable name must start with a letter or the underscore character
- variable name cannot start with a number
- variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- can be of arbitrary length
- variables do not need to be declared with any particular type
- type can be changed even after they have been set
- variable names are case-sensitive

#### Important point about Variables:
- There are no variables in Python - unlike other languages like C or R 
- Python has **names** and **objects**.
- Assignment binds a name to an object.
- Passing an argument into a function also binds a name

When we talk about any python object, we should say: <br>
 **“Name A is assigned to the List”, but never “The List  is assigned to variable A”.**

In [ ]:
a = 1                         # binds the name a to an object of type integer that holds the value 1.
b = a                         # b also point to the same object as a.

b = 3                         # now the name b is bound to another object. a doesn't change
#print(a, b)

In [22]:
#another example
a = [1, 2, 3]
b = [1,2,3]

In [24]:
b = ['Python','is', 'Strange']             # will this give an error?        
#print (a, b)

In [ ]:
# Which of the following is incorrect variable name? 
myvar = "John"   
my_var = "John"
my__var = "John"
_my_var = "John"
myVar = "John"

In [ ]:
x = y = z = 5                              # assigning the same value to multiple variables in one statement

In [ ]:
#print ( x, y, z)

In [ ]:
x, y, z = 10, 200, 300                     # assigning different values to multiple variables in one statement

In [ ]:
#print ( x, y, z)

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits                           # unpacking a list
#print(x, y, z)

In [ ]:
# What will this print?

fruits = ["apple", "banana", "cherry"]
x, *y  = fruits                        
#print(x)

#### 2.2 Casting from one type to another

In [ ]:
x = int(4.257) 
y = str(2.0)
val = float("2.56")

In [ ]:
#print(x, type(x))

In [ ]:
print(y, type(y))

In [ ]:
#print(val, type(val))

### 3. Language Basics
- Operators
    - Arithmetic : +, - , *, /, %, ** , // 
    - Bitwise    : &, |, ^, ~, >>, <<
    - Assignment : =, +=, -=, *=, /=, &= , ^= etc.
    - Comparison : ==, !=, >, < , >=, <= 
    - Logical    : and, or, not
    - Identity   : is, is not
    - Membership : in, not in
- Conditional statements ( if, elif, else)
- Loops ( for, while)

In [ ]:
2 << 1                                    # shift 00000010 to 00000100

In [ ]:
#shorthand if else syntax - also called  Ternary Operators 
a = 2
b = 330
#print("A") if a > b else print("B")

In [ ]:
# can have more than one condition as well
a = b = 330
#print("A") if a > b else print("Equal") if a == b else print("B")

In [ ]:
#Nested if
x = 41
if x > 10:
    print("You have chosen a number greater than 10")
    if x > 20:
        print("Its also above 20 .. Good choice!")
    else:
        print("but not above 20.")

In [ ]:
# The pass Statement - if statements cannot be empty. Put in the pass statement to avoid getting an error.
a = 2

if a == 2:
    pass

#### 3.3 Loops
for loop:
   - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
   - This is less like the for keyword in other programming languages, and works more like an iterator method (similar to R).
   - Using for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
   - C for loop example: for (i = 1; i < 11; ++i) {}

In [ ]:
seq = [1,2,3,4,5]

for item in seq:
    print(f'item is {item}')

In [ ]:
# use break to break out of for loop

fruits = ["apple", "banana", "cherry", "mango", "peaches"]

for x in fruits:
    print(x)
    if x == "banana":
        print("take a break")
        break

In [ ]:
# use continue statement to skip the current iteration of the loop, and continue with the next:

fruits = ["apple", "banana", "cherry", "mango", "peaches"]    

print("What's for lunch?")

for x in fruits:
    if x == "banana":                    # let's skip banana for lunch
        continue              
    print(x)

In [ ]:
# else in for loop - specifies a block of code to be executed when the loop is finished.

for x in range(6):
    print(x)
else:
    print("Finally finished!")

In [ ]:
# What will this print?

for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")

In [ ]:
# The pass Statement - for statements cannot be empty. Put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
    pass                                             # do nothing

#### 3.4 List Comprehension 
- List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. 
- A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element. <br>
- Combines [] with for and if 
##### Syntax: newList = [<expression(item)> for  (item) in [oldList] if (condition) ]

In [ ]:
# Initializing list
List = [12,13,17,22,19,23,16,54,77,96]
 
# Square the even elements of the list
newList = [i*i for i in List if i%2 == 0]

In [ ]:
#print(newList)

In [ ]:
# list comprehension is shorter to code and more efficient in execution as well
n = 100

# get square of number upto 100 - for loop
result1 = []
for i in range(n):
    result1.append(i**2)
    
# get square of number upto 100 - for loop
result2 = [i**2 for i in range(n)]

# Check check
result1[99] , result2[99]

In [ ]:
# getting square of even numbers from 1 to 50
squares = [n**2 for n in range(1, 50) if n%2==0]
print(squares)

In [ ]:
# Reverse each string in a tuple
List = [string[::-1] for string in ('Best', 'Data', 'Science', 'Guidance', 'Coaching')]
#print(List)

#### 3.5 While Loop
- while loop execute a set of statements as long as a condition is true. 
- requires relevant variables (checked in condition) to be available
- continue statement:  to skip the current iteration
- else block: to run a block of code once when the condition no longer is true

In [ ]:
#simple while loop
i = 1

while i<5:
    print("loop no", i)
    i+=1

print("Out of loop")
print(i)

In [ ]:
# use of else - execute when the condition is false
i = 7
while i < 6:
    print(i)
    i += 1
else:
    print(f'Else: i={i}')

In [ ]:
#default arguments
def sum(a, b=10): 
    return a + b

num = 5 
result = sum(5, 6)                                  # second argument will be set to default
#print(result)

In [ ]:
# What will be the output here?
def sum(a=10,b):
    return a + b

result = sum(5)
#print(result)

In [ ]:
# passing a list as an argument
def print_lunch(items):
    for i in items:                             # i has to be an iterable value
        print(i)
        
items = ["curdrice", "salad", "pickle"]

#print_lunch(items)

In [ ]:
#what will this print?
items = "Ice Cream"
#print_lunch(items)