<img src="pythonwebinar.png" style="width:650px">

### AccelerateAI - Python for Data Science - Notebook 05
##### Introduction to Python Language  (Python 3) 
In this notebook we will cover the following: 
* 2. Pandas      <br>
    - Series
    - Data Frame
       - Indexing
       - Grouping
       - Missing Data
       - Merging / Joining
       - Data Operations
       - Reading CSV/Excel/HTML
       - Basic Plotting

We will cover the following in Notebook 2:
* 3. String & Text <br> 
* 4. Regular Expression <br>
***

#### 2. Pandas
- Pandas is a Python package providing fast and flexible data structure
- It is designed to work with structured, relational or labeled (tabular) data 
- It has functions for reading, analyzing, cleaning, exploring(plotting), and manipulating data
- It works very well with large amount of data for indexing, subsetting, slicing, reshaping and merging
- It is also great for working with time series data with functionality for quick filtering and plotting
- The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"

##### 2.1 Pandas data structures
- Pandas has a few important data structures:
    - Series: Indexed 1-dimensional array holding data of any type (like a column in a table) 
    - DataFrame: Indexed 2-dimensional data structre (a table with rows and columns)
    - Datetime / TimeStamp: also an important data structure for working with dates
<br><br>
- Other data structures like pandas array, strings etc are not in common use.
- Panel data a 3 dimesional data structure for storing panel data, is now deprecated and no longer in use.

###### 2.1.1 Pandas Series

In [ ]:
#import pandas 
import numpy as np

##import pandas as pd                       # remove comments and execute

In [ ]:
#creating a series from list
a = [1, 7, 2, 5,9]
myseries = pd.Series()                      # convert a to Series

print(myseries)                             #notice the index printed with the values, along with data type

In [ ]:
#specifying the index 
myserwithind = pd.Series(a, ["a", "b", "c", "b", "e"])
print(myserwithind)

In [ ]:
#creating a series from dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}

mydiet = (calories)                       # Create a series

print(mydiet)                             #where do the keys go?

In [ ]:
#Naming the series attributes 

fruitprice = {'apples': 200, 'kiwi': 300, 'oranges': 70, 'cherries': 500, 'banana':30, 'guava':55}
mySeries = pd.Series(fruitprice)

#mySeries.name = 'March Fruit Prices'                 #name is the sweetest sound for every individual!
#mySeries.index.name = 'Fruit'                        #why should index be left behind?

print(mySeries)

In [ ]:
#Check the dimension
mySeries.

In [ ]:
#Check the num of elements
mySeries.

In [ ]:
#indexing using list style
mySeries[1:3]

In [ ]:
mySeries[::2]

In [ ]:
#indexing using index value
mySeries[['kiwi', 'oranges']]

In [ ]:
#which is the most expensive fruit?
mySeries.                                               # use idxmax() - argmax() is depreciated

In [ ]:
#which are the two cheapest fruits
mySeries.nsmallest(n=?, keep='last')                    # similarly nlargest()

In [ ]:
#Statistics 
print ("Avg Price:",mySeries.mean())
print ("Median Price:",mySeries.())
print("Std deviation:", mySeries.())

In [ ]:
# Data distribution
mySeries.()

In [ ]:
#Sort the series by value
mySeries.sort_values()                                  # why such a long name? because there are more than one way to sort!

In [ ]:
#Sort the series by index
mySeries.sort_index()                                   # alphabetical order

In [ ]:
#Selecting an element in a pandas series 
print(mySeries[1])
print(mySeries['kiwi'])
print(mySeries.kiwi)
print(mySeries.loc['kiwi'])
print(mySeries.iloc[1])

In [ ]:
#price of kiwi increases 
mySeries['kiwi'] = #350                              
print(mySeries)

In [ ]:
#searching using index 
'apples' in mySeries

In [ ]:
#Adding two series 
basket1 = pd.Series({'apples': 5, 'kiwi': 10, 'oranges': 7, 'cherries': 50})
basket2 = pd.Series({'apples': 6, 'pineapple': 2, 'oranges': 6, 'banana': 12})

total = basket1 + 
print(total)                                          # What would be the output?

In [ ]:
#Appending two series 
basket1.append()                                      # Now?

In [ ]:
basket1                                               # Does this change basket1?

In [ ]:
basket1.plot()                                        # plotting a series

###### 2.1.2 DataFrame

In [ ]:
#creating a dataframe from dictionary
df1 = pd.DataFrame(
    {
        "A": [1.0,2.3,3.4,4.3],
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": pd.Categorical(["spam","ham"]*2)
    }
)

In [ ]:
df1

In [ ]:
df1.index

In [ ]:
#df1.shape                                   #(rows , columns)

In [ ]:
#quick statistic summary of the data (numerical)
df1.describe()

In [ ]:
#quick look - random sample
df1.sample(?)                              #head(n) and tail(n) also works as intended

###### 2.1.2.1 Row and Column Selection

In [ ]:
#selection of rows
df1[0:2]                                  #list style indexing

In [ ]:
#selection of rows
df1.iloc[0:2,]                             #optimized and recommended

In [ ]:
#selection of columns - using names
df1.loc[:, ["A", "B"]]

In [ ]:
#selection using numerical position 
df1.iloc[0:3, 1:4]

In [ ]:
# Conditional selection using a single column
df1[df1.A>3.0]

In [ ]:
#query function 
df1.('E == "test"')                                # equivaluent to df1[df1['E'] == "test"]

In [ ]:
#adding a new column
df1["G"] = ["one", "two", "three", "four"]

In [ ]:
df1[df1.G.isin(["two", "four"])]                   #.isin() for selection

In [ ]:
#dropping a column
df1.drop('G', axis=1 )                             #inplace=True will make changes to existing dataframe              
df1

In [ ]:
#setting values 
import numpy as np
df1.loc[:, "D"] = np.arange(10,14)

In [ ]:
df1

##### 2.1.2.2 Grouping Data 
- this function takes several params and returns DataFrameGroupBy object that contains information about the groups.
- we can use groupby() with the combination of sum(), pivot(), transform(), aggregate() and many more methods.
- Syntax of DataFrame.groupby()<br>
    DataFrame.groupby(by=None, axis=0, level=None, as_index=True,
    sort=True, group_keys=True, squeeze=<no_default>,      <br>
    observed=False, dropna=True)

In [ ]:
#grouping data
df = pd.DataFrame({'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
                   'Month':['Jan','Feb','Jan','Feb','Jan','Feb'],
                   'Sales':[200,120,340,124,243,350]})
df

In [ ]:
#average sales per company
df.groupby("").mean()

In [ ]:
#Total sales per month
df.groupby("Month").

In [ ]:
#group by a numerical value(bins) calculate a statistic
s_groups = pd.cut(df['Sales'], bins=[100, 200, 300, np.inf])

df.groupby().count()

In [ ]:
#Cross tabulation 
pd.(df.Company, df.Month)

##### 2.1.2.3 Dealing with missing data

In [ ]:
d = {'A':[1,2,np.nan,3],'B':[5,np.nan, np.nan,7],'C':[1,2,3,4]}
df = pd.DataFrame(d)
df

In [ ]:
#drop rows with NaN value
df.dropna()

In [ ]:
# drops cols with null values with given threshold (atleast n non-NaNs for the column to survive)
df.dropna(axis=1, )

In [ ]:
#fill NaN with a user specified value
df_new = df.fillna(value="99")                              #to change the df use inplace=True

In [ ]:
df_new

In [ ]:
#fill NaN with different value for different column

colfill = {"A": -99, "B": 99, "C": 999}
df.fillna(value=)

In [ ]:
#fill NaN with forward fill method - last valid number
df.fillna(method='')

In [ ]:
#fill NaN with backfill fill method - next valid number
df.fillna(method='')

In [ ]:
df['A'].mean()

In [ ]:
# mean imputation
df.fillna(value= df['A']. )

##### 2.1.2.4 Merging  & Joining Datasets

In [ ]:
d1 = {"Id": ['I01', 'I02', 'I03', 'I04','I05'],
     "Name":['Aamir', 'Salman', 'Shahrukh', 'Akshay', 'Hrithik'], 
      "Age":[45, 54, 55, 56, 44],} 

d2 = {"Id": ['I02', 'I01', 'I04', 'I03'],
 "Address":["Delhi", "Gurgaon", "Noida", "Pune"], 
 "Qualification":["Btech", "B.A", "Bcom", "B.hons"]}

df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

In [ ]:
# concat() is used for combining Data Frames across rows or columns.
pd.concat([df1,df2], axis=0, sort=False)                     #ignore_index=True

In [ ]:
# concat() is used for combining Data Frames across rows or columns.
pd.concat([df1,df2], axis=1, sort=False)

In [ ]:
df1.append(df2, sort=False)                  #same as concat(axis=0)

In [ ]:
# merge() is used for combining data on common columns or indices.
df1.merge(df2)                                    #Inner Join - automatically on "Id" - common rows

In [ ]:
pd.merge(df1,df2,left_on="Id",right_on="Id",how='inner')        #if column names are different

In [ ]:
pd.merge(df1,df2,how='left')                                   #Left Join

In [ ]:
pd.merge(df1,df2,how='outer')                                   #Outer Join

In [ ]:
# join() is used for combining data on index.
df1.join(df2, lsuffix='_l', rsuffix='_r')                  #Same column get renamed

##### 2.1.2.5 Operations on Datasets

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
#count of each column
df1.count()

In [ ]:
# Stats for numeric cols
df1.describe()

In [ ]:
# unique values
df2["Address"].unique()

In [ ]:
df1['Age'].value_counts()

In [ ]:
# apply a function to each row
df1["Age"].apply(lambda x: x/2)

In [ ]:
df1.sort_values('Age')

##### 2.1.2.6 Data Input & Output

In [ ]:
#Reading csv file into a DataFrame
netflix_df = pd.("netflix_subscription_fee.csv")
netflix_df.head()

In [ ]:
#reading an excel file into a DataFrame
insurance_df = pd.("insurance_data.xlsx",sheet_name=0, parse_dates=True)
insurance_df.count()

In [ ]:
insurance_df.InsuredValue.max()

In [ ]:
import html5lib
#Read HTML tables into a list of DataFrame objects.
data = pd.('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
data[0]

In [ ]:
#reading a json file 
iris_df = pd.("https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json")

In [ ]:
iris_df.head()

In [ ]:
# writing to a csv file
iris_df.("iris.html")

##### 2.1.2.7 Basic Plots 
- Pandas uses the plot() method to create diagrams.
- Pyplot, a submodule of the Matplotlib library can be used to visualize the diagram on the screen.

In [ ]:
# read motor trends cars data from the web   
data = pd.read_html("https://gist.github.com/seankross/a412dfbd88b3db70b74b")
mtcars_df = data[0]
mtcars_df.head()

In [ ]:
# scatter plot
mtcars_df.plot(kind = 'scatter', x = 'disp', y = 'hp')

In [ ]:
#histogram
mtcars_df["mpg"].plot(kind = 'hist', )

#### That's it folks !